@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'choices.js/public/assets/styles/choices.min.css';

/* Override Choices.js styles to fit Bootstrap */
.choices__inner {
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    min-height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 1rem;
}
.choices[data-type*=select-one]:after {
    right: 15px;
}
.choices__list--dropdown {
    border: 1px solid #dee2e6;
    border-top: none;
    border-radius: 0 0 0.375rem 0.375rem;
}
